<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'components/links_includer.html' %}
    <title>Гефест</title>
</head>
<body class="body">
    {% include 'components/navbar.html' %}
    <section class="main">
        {% block content %}
        {% endblock %}
    </section>
    <div style="padding: 4em"></div>
    {% include 'components/footer.html' %}
</body>
{% include 'components/scripts.html' %}

<style>
    @font-face {
        font-family: 'GagarinStarMixCyrillic';
        src: local('GagarinStarMixCyrillic'),
        url('{% static 'fonts/Gagarin Star Mix Cyrillic.ttf' %}') format('truetype');
    }

    .logo-title {
        font-family: 'GagarinStarMixCyrillic', sans-serif;
        font-size: xxx-large;
    }
</style>
</html>