{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Title</title>
</head>
<body class="body">
{% include 'components/navbar.html' %}
<section class="main">
    {% block content %}
    {% endblock %}
</section>
</body>
<script>
    let timeout;

    $(document).ready(function () {
        // Вешаем обработчик на изменение поля ввода номера телефона
        $('#id_phone').on('input', function () {
            // Получаем введенное значение
            var phoneNumber = $(this).val();

            // Очищаем от всего, кроме цифр
            phoneNumber = phoneNumber.replace(/\D/g, '');

            // Добавляем разделители для лучшей читаемости
            if (phoneNumber.length > 0) {
                phoneNumber = '+7 (' + phoneNumber.slice(1, 4) + ') ' +
                    phoneNumber.slice(4, 7) + '-' + phoneNumber.slice(7, 9) + '-' + phoneNumber.slice(9, 11);
            }

            // Перезаписываем значение в поле ввода
            $(this).val(phoneNumber);
        });
    });

    function toggleSplitter(element) {
        const parent = element.parentElement.parentElement;
        const leftPart = parent.querySelector('.left');
        const rightPart = parent.querySelector('.right');

        const lowerDivActive = parent.querySelector('.active-content');
        const lowerDivInactive = parent.querySelector('.inactive-content');

        if (leftPart.classList.contains('active')) {
            rightPart.classList.add('active');
            leftPart.classList.remove('active');
        } else {
            leftPart.classList.add('active');
            rightPart.classList.remove('active');

        }
        lowerDivActive.classList.remove('active-content');
        lowerDivActive.classList.add('inactive-content');
        lowerDivInactive.classList.remove('inactive-content');
        lowerDivInactive.classList.add('active-content');
        // Дополнительные действия, если нужны
    }

    var checkboxes = document.querySelectorAll('input[type="checkbox"]');

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var parentDiv = this.parentNode.parentNode;
                if (this.checked) {
                    parentDiv.classList.add("selected");
                } else {
                    parentDiv.classList.remove("selected");
                }

                // Используй уникальные идентификаторы для верхнего и нижнего блоков
                var checkboxesDiv = parentDiv.parentElement;
                checkboxesDiv.insertBefore(parentDiv, checkboxesDiv.firstChild);
            });
        });

    function filterResults(input) {
        // Очищаем предыдущий таймаут
        clearTimeout(timeout);

        // Получаем значение из поля ввода
        var inputValue = input.value.toLowerCase();

        // Получаем родительский элемент, внутри которого будем искать результаты
        var container = input.parentNode.parentNode;
        var delay = 500;

        // Устанавливаем новый таймаут
        timeout = setTimeout(function () {
            var results = container.querySelectorAll('[id^="search_results"]');

            // Переменная для отслеживания, были ли найдены результаты
            var resultsFound = false;

            // Проходимся по каждому результату
            results.forEach(function (result) {
                // Получаем текст из элемента результата
                var textContent = Array.from(result.querySelectorAll('p')).map(function (p) {
                    return p.textContent.toLowerCase();
                }).join(' ');

                // Проверяем, совпадает ли значение из поля ввода с именем организации
                if (textContent.includes(inputValue)) {
                    // Если совпадает, показываем результат
                    result.style.display = 'block';
                    resultsFound = true;
                } else {
                    // Если не совпадает, скрываем результат
                    result.style.display = 'none';
                }
            });

            // Показываем или скрываем сообщение "Ничего не найдено"
            var noResultsMessage = container.querySelector('[id="noResultsMessage"]');
            noResultsMessage.style.display = resultsFound ? 'none' : 'block';
        }, delay);
    }
</script>
</html>