{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <h1 class="title">Редактирование организации</h1>
            <div class="content-box flex-vertical gap-1em">
                <div class="top-splitter-two flex-horizontal">
                    <div class="splitted-part left active" onclick="toggleSplitter(this)">Новая запись</div>
                    <div class="splitted-part right" onclick="toggleSplitter(this)">Выбрать существующую</div>
                </div>
                <div class="content flex-vertical gap-2em active-content" style="padding: 4em 8em;">
                    <form method="POST" class="input-form flex-vertical gap-2em" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h1 class="title text-size-larger">Основная информация</h1>
                        <p>
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                            {{ form.name }}
                        </p>
                        <p>
                            <label for="{{ form.organizational_legal_form.id_for_label }}">{{ form.organizational_legal_form.label }}:</label>
                            {{ form.organizational_legal_form }}
                        </p>
                        <p>
                            <label for="{{ form.about.id_for_label }}">{{ form.about.label }}:</label>
                            {{ form.about|add_class:'input-field' }}
                        </p>
                        <p>
                            <label for="{{ form.organization_logo.id_for_label }}">{{ form.organization_logo.label }}:</label>
                            {{ form.organization_logo }}
                        </p>
                        <p>
                            <label for="{{ form.okved_kode.id_for_label }}">{{ form.okved_kode.label }}:</label>
                            {{ form.okved_kode }}
                        </p>
                        <h1 class="title text-size-larger">Финансовая информация</h1>
                        <p>
                            <label for="{{ form.payment_account.id_for_label }}">{{ form.payment_account.label }}:</label>
                            {{ form.payment_account }}
                        </p>
                        <p>
                            <label for="{{ form.inn.id_for_label }}">{{ form.inn.label }}:</label>
                            {{ form.inn }}
                        </p>
                        <h1 class="title text-size-larger">Адрес</h1>
                        <p>
                            <label for="{{ form.locality.id_for_label }}">{{ form.locality.label }}:</label>
                            {{ form.locality }}
                        </p>
                        <p class="flex-horizontal">
                            <label for="{{ form.street.id_for_label }}">{{ form.street.label }}:</label>
                            {{ form.street|add_class:"width-180" }}
                            <label for="{{ form.number_of_building.id_for_label }}">Дом:</label>
                            {{ form.number_of_building }}
                            <label for="{{ form.apartment_number.id_for_label }}">Помещение:</label>
                            {{ form.apartment_number }}
                        </p>
                        {% if form.errors %}
                            <p class="error-message">{{ form.errors }}</p>
                        {% endif %}
                        <button type="submit" class="button submit" style="width: fit-content;">Создать и привязать
                        </button>
                    </form>
                </div>
                <div class="content flex-vertical gap-2em inactive-content" style="padding: 4em 8em;">
                    <div class="flex-horizontal gap-1em" style="padding: 1em 0">
                        <label>Поиск:</label>
                        <input type="text" oninput="filterResults(this)" class="input-field">
                    </div>

                    {% for organization in organizations %}
                        <a href="{% url 'organization_apply' organization.id %}"
                           id="search_results">
                            <div class="flex-horizontal persons-div gap-3em">
                                <div>
                                    {% if organization.organization_logo %}
                                        <img class="person-img"
                                             src="/media/{{ MEDIA_URL }}{{ organization.organization_logo }}">
                                    {% else %}
                                        <div class="person-img"></div>
                                    {% endif %}
                                </div>

                                <div class="flex-vertical gap-1em">
                                    <p>{{ organization.organizational_legal_form }} "{{ organization.name }}"
                                    </p>
                                    <p>{{ organization.about|truncatechars:360 }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    <p id="noResultsMessage" class="error-message" style="display: none;">Ничего не найдено</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}