{% extends 'base.html' %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <h1 class="title">Редактирование организации</h1>
            <div class="content-box flex-vertical gap-1em">
                <div class="content flex-vertical gap-2em" style="padding: 4em 8em;">
                    {% include 'employers_templates/organization/components/organization_form.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}