{% extends 'base.html' %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <h1 class="title">Редактирование организации</h1>
            <div class="content-box flex-vertical gap-1em">
                <div class="content flex-vertical gap-2em" style="padding: 4em 8em;">
                    <form method="POST" class="input-form flex-vertical gap-2em" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h1 class="title text-size-larger">Основная информация</h1>
                        <p>
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label>
                            {{ form.name }}
                        </p>
                        <p>
                            <label for="{{ form.organizational_legal_form.id_for_label }}">{{ form.organizational_legal_form.label }}:</label>
                            {{ form.organizational_legal_form }}
                        </p>
                        <p>
                            <label for="{{ form.about.id_for_label }}">{{ form.about.label }}:</label>
                            {{ form.about|add_class:'input-field' }}
                        </p>
                        <p>
                            <label for="{{ form.organization_logo.id_for_label }}">{{ form.organization_logo.label }}:</label>
                            {{ form.organization_logo }}
                        </p>
                        <p>
                            <label for="{{ form.okved_kode.id_for_label }}">{{ form.okved_kode.label }}:</label>
                            {{ form.okved_kode }}
                        </p>
                        <h1 class="title text-size-larger">Финансовая информация</h1>
                        <p>
                            <label for="{{ form.payment_account.id_for_label }}">{{ form.payment_account.label }}:</label>
                            {{ form.payment_account }}
                        </p>
                        <p>
                            <label for="{{ form.inn.id_for_label }}">{{ form.inn.label }}:</label>
                            {{ form.inn }}
                        </p>
                        <h1 class="title text-size-larger">Адрес</h1>
                        <p>
                            <label for="{{ form.locality.id_for_label }}">{{ form.locality.label }}:</label>
                            {{ form.locality }}
                        </p>
                        <p class="flex-horizontal">
                            <label for="{{ form.street.id_for_label }}">{{ form.street.label }}:</label>
                            {{ form.street|add_class:"width-180" }}
                            <label for="{{ form.number_of_building.id_for_label }}">Дом:</label>
                            {{ form.number_of_building }}
                            <label for="{{ form.apartment_number.id_for_label }}">Помещение:</label>
                            {{ form.apartment_number }}
                        </p>
                        {% if form.errors %}
                            <p class="error-message">{{ form.errors }}</p>
                        {% endif %}
                        <button type="submit" class="button submit" style="width: fit-content;">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}