{% block content %}
    <div class="flex-vertical extra-part">
        <div class="content-box">
            <div class="content flex-vertical gap-2em" style="padding: 2em 4em;">
                {% if data.organization and data.position %}
                    <div class="flex-horizontal" style="justify-content: space-between">
                        <h1 class="title">Заявки</h1>
                        <a href="{% url 'application_create' %}">
                            <button class="button">Создать новую заявку</button>
                        </a>
                    </div>
                    {% if data.applications %}
                        <div class="flex-vertical gap-1em">
                            <div class="flex-horizontal gap-1em" style="padding: 1em 0">
                                <label>Поиск:</label>
                                <input type="text" oninput="filterResults(this)" class="input-field">
                            </div>
                            {% for application in data.applications %}
                                <div class="flex-vertical persons-div gap-1em">
                                    <h1 class="title" style="font-size: xx-large">Заявка
                                        от {{ application.date_of_application.date }}</h1>
                                    <p>На должность <span class="title"
                                                          style="font-size: unset">{{ application.position }}</span>
                                        с
                                        графиком работы: <span class="title"
                                                               style="font-size: unset">{{ application.work_schedule.name.lower }} ({{ application.work_format.name.lower }})</span>
                                        и зарплатой <span class="title"
                                                          style="font-size: unset">{{ application.salary|floatformat:0|intcomma }}</span>
                                        рублей
                                    </p>
                                    <p>Желаемый срок подбора <span class="title"
                                                                   style="font-size: unset">{{ application.desired_date }}</span>
                                    </p>
                                    <p>Крайний срок подбора <span class="title"
                                                                  style="font-size: unset">{{ application.final_date }}</span>
                                    </p>
                                    <h1 class="title" style="font-size: x-large">Техническая информация о
                                        заявке</h1>
                                    {% if application.employee %}<p>Заявку
                                        принял <span class="title"
                                                     style="font-size: unset">{{ application.employee.last_name }} {{ application.employee.first_name }} {{ application.employee.patronymic }}</span>
                                    </p>{% endif %}
                                    <p>Статус заявки: <span class="title"
                                                            style="font-size: unset">{{ application.status_in_rus }}</span>
                                    </p>
                                    {% if application.date_of_cancellation %}
                                        <p>Дата отмены заявки: <span class="title"
                                                                     style="font-size: unset">{{ application.date_of_cancellation }}</span>
                                        </p>
                                    {% endif %}
                                    {% if application.date_of_completion %}
                                        <p>Дата выполнения заявки: <span class="title"
                                                                         style="font-size: unset">{{ application.date_of_completion }}</span>
                                        </p>
                                    {% endif %}
                                    {% if application.interviews %}
                                        <div class="flex-vertical gap-2em">
                                            {% for interview in application.interviews %}
                                                <div class="flex-vertical persons-div gap-3em"
                                                     style="filter: drop-shadow(0 0 0.5em var(--element-shadow));">
                                                    <div class="flex-horizontal gap-3em"
                                                         style="justify-content: space-around; padding: 0 2em">

                                                        {% if interview.application_response.job_seeker.profile_photo %}
                                                            <img src="{{ MEDIA_URL }}{{ interview.application_response.job_seeker.profile_photo.url }}"
                                                                 class="person-img-preview">
                                                        {% else %}
                                                            <div class="person-img-preview"></div>
                                                        {% endif %}
                                                        <div class="flex-vertical gap-05em">
                                                            <p>{{ interview.application_response.job_seeker.last_name }}</p>
                                                            <p>{{ interview.application_response.job_seeker.first_name }}</p>
                                                            <p>{{ interview.application_response.job_seeker.patronymic }}</p>
                                                        </div>
                                                        <div class="flex-vertical gap-05em">
                                                            <p>{{ interview.application_response.job_seeker.phone_number }}</p>
                                                            <p>{{ interview.application_response.job_seeker.email }}</p>
                                                        </div>
                                                        <div class="flex-vertical gap-05em"
                                                             style="margin-left: auto; align-items: end">
                                                            <a href="{% url 'allowed_job_seeker_view' interview.application_response.job_seeker.id %}"
                                                               target="_blank">
                                                                <button class="button">Подробнее</button>
                                                            </a>
                                                            <a href="{% url 'apply_job_seeker' interview.application_response.id %}">
                                                                <button class="button submit">Принять
                                                                </button>
                                                            </a>
                                                            <a href="#">
                                                                <button class="button reject">Отказать
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="flex-vertical gap-2em">
                                                        <div class="flex-horizontal persons-div"
                                                             style="filter: drop-shadow(0 0 0.5em var(--element-shadow));">
                                                            <div class="flex-vertical gap-1em">
                                                                <h1 class="title text1">Собеседование
                                                                    от {{ interview.date_of_interview }} </h1>
                                                                <p>
                                                                    Отзыв: {{ interview.description }} </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p class="error-message">Заявок пока нет</p>
                    {% endif %}
                    </div>
                {% else %}
                    <h1 class="title error-message">Для создания заявок укажите свою организацию и должность</h1>
                {% endif %}
        </div>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var experienceElement = document.getElementById('experience{{ application.id }}');
            var years = parseInt(experienceElement.innerText);

            if (years % 10 === 1 && years % 100 !== 11) {
                experienceElement.innerText = years + ' год';
            } else if (years % 10 >= 2 && years % 10 <= 4 && (years % 100 < 10 || years % 100 >= 20)) {
                experienceElement.innerText = years + ' года';
            } else {
                experienceElement.innerText = years + ' лет';
            }
        });
    </script>
{% endblock content %}