{% extends 'base.html' %}
{% block content %}
    <section class="flex-vertical gap-1em">
        <div class="split-section flex-vertical gap-2em">
            {% if user_type == 'employee' %}
                {% if extra_data.unconfirmed_educations or extra_data.unconfirmed_work_experiences %}
                    {% include 'employees_templates/home/components/confirmation_block.html' %}
                {% endif %}
                {% if extra_data.interviews or extra_data.interviews_without_feedback %}
                    {% include 'employees_templates/home/components/interviews_block.html' %}
                {% endif %}
                {% if extra_data.application_responses %}
                    {% include 'employees_templates/home/components/application_responses_block.html' %}
                {% endif %}
                {% include 'employees_templates/home/components/applications_block.html' %}
            {% elif user_type == 'job_seeker' %}
                {% if extra_data.job_seeker.address %}
                    {% include 'job_seekers_templates/home/components/applications.html' %}
                {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock %}