{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <h1 class="title">Просмотр профилей соискателей</h1>
            <div class="content-box flex-vertical gap-1em">

                <div class="content flex-vertical gap-05em">
                    <a href="{% url 'job_seeker_create' %}" style="justify-self: end">
                        <button class="button submit">Создать новый профиль соискателя</button>
                    </a>
                    <div class="flex-horizontal gap-1em" style="padding: 1em 0">
                        <label>Поиск:</label>
                        <input type="text" oninput="filterResults(this)" class="input-field">
                    </div>
                    {% for job_seeker in job_seekers %}
                        <a href="{% url 'job_seeker_view' job_seeker.id %}" id="search_results">
                            <div class="flex-horizontal persons-div gap-3em">
                                {% if job_seeker.profile_photo %}
                                    <img src="{{ MEDIA_URL }}{{ job_seeker.profile_photo.url }}"
                                         class="person-img-preview">
                                {% else %}
                                    <div class="person-img-preview"></div>
                                {% endif %}
                                <div class="flex-vertical gap-05em">
                                    <p>{{ job_seeker.surname }}</p>
                                    <p>{{ job_seeker.name }}</p>
                                    <p>{{ job_seeker.patronymic }}</p>
                                </div>
                                <div class="flex-vertical gap-05em">
                                    <p>{{ job_seeker.phone }}</p>
                                    <p>{{ job_seeker.email }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    <p id="noResultsMessage" class="error-message" style="display: none;">Ничего не найдено</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}