{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <h1 class="title">Информация о соискателе</h1>
            <div class="content-box flex-vertical gap-1em">
                <div class="content flex-vertical gap-2em" style="padding: 2em 4em;">
                    <div class="flex-horizontal gap-1em">
                        {% if job_seeker.profile_photo %}
                            <img class="person-img" src="/media/{{ MEDIA_URL }}{{ job_seeker.profile_photo }}">
                        {% else %}
                            <div class="person-img"></div>
                        {% endif %}
                        <div class="flex-vertical gap-1em text-size-larger">
                            <h1 class="title">
                                {{ job_seeker.surname }} {{ job_seeker.name }} {{ job_seeker.patronymic }},
                                <span class="title" style="font-size: inherit" id="age">
                                    {{ job_seeker.age }}
                                </span>
                            </h1>
                            <p class="text-size-larger text1">{{ job_seeker.address.locality }}</p>
                        </div>
                    </div>
                    <div class="flex-vertical gap-1em">
                        <h1 class="title">Контактная информация</h1>
                        <div class="flex-vertical gap-05em">
                            <p class="text1">Номер телефона: {{ job_seeker.phone }}</p>
                            <p class="text1">Почта: {{ job_seeker.email }}</p>
                        </div>
                    </div>
                </div>
                <div class="flex-vertical extra-part">
                    <div class="top-splitter-two flex-horizontal">
                        <div class="splitted-part left active" onclick="toggleSplitter(this)">Профессиональные
                            качества
                        </div>
                        <div class="splitted-part right" onclick="toggleSplitter(this)">Резюме</div>
                    </div>
                    <div class="flex-vertical gap-1em inner-part">
                        <div class="content flex-vertical gap-3em active-content" style="padding: 2em 4em;">
                            <div class="flex-vertical gap-2em">
                                <div class="flex-vertical gap-1em">
                                    <h1 class="title" style="font-size: xx-large">Навыки:</h1>
                                    {% if job_seeker.skill.exists %}
                                        <table class="table">
                                            <tr>
                                                <th>№</th>
                                                <th>Наименование</th>
                                            </tr>
                                            {% for skill in job_seeker.skill.all %}
                                                <tr>
                                                    <td>
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td>
                                                        {{ skill.name }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <p class="error-message">Вы пока не добавили навыки</p>
                                    {% endif %}
                                    <a href="{% url 'job_seeker_skills' job_seeker.id %}">
                                        <button class="button submit">Изменить навыки</button>
                                    </a>
                                </div>
                                <div class="flex-vertical gap-1em">
                                    <h1 class="title" style="font-size: xx-large">Специализации:</h1>
                                    {% if job_seeker.specialization.exists %}
                                        <table class="table">
                                            <tr>
                                                <th>№</th>
                                                <th>Наименование</th>
                                            </tr>
                                            {% for specialization in job_seeker.specialization.all %}
                                                <tr>
                                                    <td>
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td>
                                                        {{ specialization.name }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <p class="error-message">Вы пока не добавили специализаций</p>
                                    {% endif %}
                                    <a href="{% url 'job_seeker_specializations' job_seeker.id %}">
                                        <button class="button submit">Изменить специализации</button>
                                    </a>
                                </div>
                                <div class="flex-vertical gap-1em">
                                    <h1 class="title" style="font-size: xx-large">Программно-технические средства:</h1>
                                    {% if job_seeker.softwareandhardwaretoolofjobseeker_set.exists %}
                                        <table class="table">
                                            <tr>
                                                <th>№</th>
                                                <th>Наименование</th>
                                            </tr>
                                            {% for software_and_hardware_tool in job_seeker.softwareandhardwaretoolofjobseeker_set.all %}
                                                <tr>
                                                    <td>
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td>
                                                        {{ software_and_hardware_tool.software_and_hardware_tool.name }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <p class="error-message">Вы пока не добавили программно-технических средств</p>
                                    {% endif %}
                                    <a href="{% url 'job_seeker_software_and_hardware_tools' job_seeker.id %}">
                                        <button class="button submit">Изменить программно технические средства</button>
                                    </a>
                                </div>
                            </div>
                            <div class="flex-vertical gap-2em">
                                <h1 class="title">Данные об образовании</h1>
                                <div class="flex-vertical gap-1em">
                                    <h1 class="title" style="font-size: xx-large">Образование:</h1>
                                    {% if job_seeker.educationofjobseeker_set.exists %}
                                        <table class="table">
                                            <tr>
                                                <th>№</th>
                                                <th>Наименование</th>
                                                <th>Код</th>
                                                <th>Уровень образования</th>
                                                <th>Учебное заведение</th>
                                                <th>Год получения образования</th>
                                            </tr>
                                            {% for education in job_seeker.educationofjobseeker_set.all %}
                                                <tr>
                                                    <td>
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td>
                                                        {{ education.education.name }}
                                                    </td>
                                                    <td>
                                                        {{ education.education.code }}
                                                    </td>
                                                    <td>
                                                        {{ education.education.education_level.name }}
                                                    </td>
                                                    <td>
                                                        {{ education.education.organization.name }}
                                                    </td>
                                                    <td>
                                                        {{ education.year_received }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <p class="error-message">Вы пока не добавили образование</p>
                                    {% endif %}
                                    <a href="{% url 'job_seeker_education' job_seeker.id %}">
                                        <button class="button submit">Добавить образование</button>
                                    </a>
                                </div>
                            </div>
                            <div class="flex-vertical gap-2em">
                                <h1 class="title">Данные об предыдущей работе</h1>
                                <div class="flex-vertical gap-1em">
                                    <h1 class="title" style="font-size: xx-large">Опыт работы:</h1>
                                    {% if job_seeker.workexperience_set.exists %}
                                        <table class="table">
                                            <tr>
                                                <th>№</th>
                                                <th>Должность</th>
                                                <th>Организация</th>
                                                <th>Дата трудоустройства</th>
                                                <th>Дата увольнения</th>
                                            </tr>
                                            {% for work_experience in work_experiences %}
                                                <tr>
                                                    <td>
                                                        {{ forloop.counter }}
                                                    </td>
                                                    <td>
                                                        {{ work_experience.position.name }}
                                                    </td>
                                                    <td>
                                                        {{ work_experience.organization }}
                                                    </td>
                                                    <td>
                                                        {{ work_experience.date_of_employment }}
                                                    </td>
                                                    <td>
                                                        {{ work_experience.date_of_dismissal }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% else %}
                                        <p class="error-message">Вы пока не добавили опыт работы</p>
                                    {% endif %}
                                    <a href="{% url 'job_seeker_work_experience' job_seeker.id %}">
                                        <button class="button submit">Добавить опыт работы</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="content flex-vertical gap-3em inactive-content" style="padding: 2em 4em;">
                            <a href="{% url 'job_seeker_resume' job_seeker.id %}">
                                <button class="button submit">Создать новое резюме</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var experienceElement = document.getElementById('age');
            var years = parseInt(experienceElement.innerText);

            if (years % 10 === 1 && years % 100 !== 11) {
                experienceElement.innerText = years + ' год';
            } else if (years % 10 >= 2 && years % 10 <= 4 && (years % 100 < 10 || years % 100 >= 20)) {
                experienceElement.innerText = years + ' года';
            } else {
                experienceElement.innerText = years + ' лет';
            }
        });
    </script>
{% endblock content %}