:root {
    --body-bg: #030a17;
    --table-bg: #091f44;
    --hover-bg: #0c295b;
    --td-bg: #0f3372;
    --div-bg: #1548a0;
    --text-color: #ebf2ff;
    --text-hover: #d7e5fe;
    --element-shadow: rgba(0, 0, 0, 0.25);
    --shadow-next: rgba(48, 48, 48, 0.8);

    --error-color: #FF3838;
    --submit-bg: #279d52;
    --submit-shadow: rgba(39, 157, 82, 0.8);
    --submit-hover: #35d781;
    --submit-hover-shadow: rgba(53, 215, 129, 0.95);
    --reject-bg: #9D2727;
    --reject-shadow: rgba(150, 39, 39, 0.8);
    --reject-hover: #D73535;
    --reject-hover-shadow: rgba(215, 53, 53, 0.95);
}

.icon {
    filter: brightness(0) saturate(100%) invert(90%) sepia(6%) saturate(570%) hue-rotate(190deg) brightness(103%) contrast(103%);
}