:root {
    --body-bg: #e5eeff;
    --table-bg: #b6cefe;
    --hover-bg: #a3bffe;
    --td-bg: #84a6fc;
    --div-bg: #779bfb;
    --text-color: #0c294e;
    --text-hover: #07172f;
    --element-shadow: rgba(0, 0, 0, 0.1);
    --shadow-next: rgba(48, 48, 48, 0.3);

    --error-color: #FF3838;
    --submit-bg: #61C786;
    --submit-shadow: rgba(97, 199, 134, 0.8);
    --submit-hover: #7BE89F;
    --submit-hover-shadow: rgba(123, 232, 159, 0.95);
    --reject-bg: #D45151;
    --reject-shadow: rgba(212, 81, 81, 0.8);
    --reject-hover: #E97E7E;
    --reject-hover-shadow: rgba(233, 126, 126, 0.95);
}

.icon {
    filter: brightness(0) saturate(100%) invert(5%) sepia(88%) saturate(1658%) hue-rotate(202deg) brightness(99%) contrast(98%);
}