:root {
    --body-bg: #F2F2F2;
    --table-bg: #CCCCCC;
    --hover-bg: #BFBFBF;
    --td-bg: #B4B4B4;
    --div-bg: #A8A8A8;
    --text-color: #333333;
    --text-hover: #1A1A1A;
    --element-shadow: rgba(0, 0, 0, 0.1);
    --shadow-next: rgba(48, 48, 48, 0.3);

    --error-color: #FF3838;
    --submit-bg: #61C786;
    --submit-shadow: rgba(97, 199, 134, 0.8);
    --submit-hover: #7BE89F;
    --submit-hover-shadow: rgba(123, 232, 159, 0.95);
    --reject-bg: #D45151;
    --reject-shadow: rgba(212, 81, 81, 0.8);
    --reject-hover: #E97E7E;
    --reject-hover-shadow: rgba(233, 126, 126, 0.95);
}

.icon {
    filter: brightness(0) saturate(100%) invert(16%) sepia(11%) saturate(19%) hue-rotate(36deg) brightness(93%) contrast(87%);
}