* {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: Inter, serif;
    color: var(--text-color);
    text-decoration: none;
}

*:focus {
    all: unset;
}

.body {
    background: var(--body-bg);
    position: relative;
    background-size: 200% 200%;
    display: block;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.main {
    padding: 3em 6.8em;
    margin: auto;
}

.nav-bar {
    z-index: 1000;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    margin: auto;
    padding: 0.5em 6em;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 1.4em 1.4em;
    background: var(--table-bg);
    filter: drop-shadow(0 0 0.9em var(--element-shadow));
}

.nav-part {
    height: 100%;
    padding: 0.4em 1em;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -2em;
    padding: 0.5em 6em;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.4em 1.4em 0 0;
    background: var(--table-bg);
    filter: drop-shadow(0 0 0.9em var(--element-shadow));
}

.logout-button {
    filter: brightness(0) saturate(100%) invert(24%) sepia(29%) saturate(4645%) hue-rotate(345deg) brightness(83%) contrast(84%);
}

.logout-button:hover {
    filter: drop-shadow(0 0 0.8em var(--error-color)) brightness(0) saturate(100%) invert(46%) sepia(91%) saturate(4760%) hue-rotate(339deg) brightness(102%) contrast(104%);
}

.logo {
    align-self: stretch;
    object-fit: contain;
}

.logo-container {
    width: 3.2em;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    display: flex
}

.title {
    color: var(--text-color);
    font-size: 2em;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 0 0 0.065em var(--text-color);
}

.title:hover {
    text-shadow: 0 0 0.1em var(--text-color);
}

.text2{
    color: var(--text-color);
    font-size: unset;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 0 0 0.065em var(--text-color);
}
.text2:hover {
    text-shadow: 0 0 0.1em var(--text-color);
}

.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: none;
    border-radius: 0.4em;
    background: var(--td-bg);
    padding: 0.4em 1em;
    gap: 0.2em;
    box-shadow: 0 0 0.5em 0.1em var(--element-shadow);
    width: fit-content;
}

.button:focus {
    align-items: center;
    text-align: center;
}

.button:hover {
    background: var(--table-bg);
    box-shadow: 0 0 0.6em 0.2em var(--shadow-next);
    color: var(--text-hover);
    text-shadow: 0 0 0.07em var(--text-hover);
}

.button[disabled] {
    opacity: 0.5; /* Уменьшаем прозрачность */
    cursor: not-allowed; /* Изменяем курсор */
    pointer-events: none; /* Отключаем события указателя */
}

.expanded {
    visibility: hidden;
    position: absolute;
    padding-top: 1em;
    margin-bottom: auto;
    margin-left: -1em;
    margin-top: 8.5em;

}

.expanded-block {
    align-items: flex-start;
    background: var(--table-bg);
    padding: 0.8em 1em;
    border-radius: 0.4em;
    gap: 0.4em;
    box-shadow: 0 0.2em 0.5em 0.1em var(--element-shadow);
}

.expanded-link:hover {
    color: var(--text-hover);
    text-shadow: 0 0 0.1em var(--text-hover);
}

.button:hover .expanded {
    visibility: visible;
}

.two-split-section {
    align-items: flex-start !important;
    justify-content: space-around;
}

.split-section {
    flex: 1;
    width: auto;
    height: fit-content;
}

.content-box {
    margin: 0;
    border-radius: 2em;
    background: var(--table-bg);
    filter: drop-shadow(0 0 0.9em var(--element-shadow));
}

.content-block {
    width: 100%;
    height: 100%;
}


.top-splitter-two {
    width: 100%;
    flex: 0.2;
}

.splitted-part {
    text-shadow: 0 0 0.07em var(--text-color);
    flex: 1;
    padding: 1em;
    text-align: center;
    background: var(--td-bg);
}

.splitted-part:hover {
    background: var(--hover-bg);
}

.splitted-part.left {
    border-radius: 2em 0 2em 0;
}

.splitted-part.active {
    background: var(--table-bg);
}

.splitted-part.right {
    border-radius: 0 2em 0 2em;
}

.content-box .content {
    flex: 1;
    padding: 1.5em;
}

.text1 {
    font-size: larger;
    text-shadow: 0 0 0.07em var(--text-color);
}

.to_center {
    align-content: center;
    justify-content: center;
}

.login-container {
    width: auto;
    height: auto;
    border-radius: 2em;
    padding: 3.5em 3em 3em;
    justify-content: flex-start;
    background: var(--table-bg);
}

.input-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

.input-field {
    width: 70%;
    flex:1;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.2em 0.3em;
    background: var(--table-bg);
    box-shadow: 0 0 0.5em 0.15em var(--element-shadow);
}

.input-field:hover {
    background: var(--td-bg);
}

.input-field:focus {
    all: unset;
    flex:1;
    width: 70%;
    align-items: center;
    font-size: inherit;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.2em 0.3em;
    background: var(--td-bg);
    box-shadow: 0 0 0.5em 0.3em var(--element-shadow);
}

.invalid {
    box-shadow: 0 0 0.5em 0.3em var(--reject-bg)!important;
}

.input-form {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: space-between;
}

.input-form p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap: 2em;
}

.input-form p label {
    text-wrap: nowrap;
}

.input-form p input {
    width: 70%;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.2em 0.3em;
    background: var(--table-bg);
    box-shadow: 0 0 0.5em 0.15em var(--element-shadow);
}

.input-form p span {
    display: none;
}

.input-form ul {
    display: none;
}

.input-form p input:hover {
    background: var(--td-bg);
}

.input-form p input:focus {
    all: unset;
    width: 70%;
    align-items: center;
    font-size: inherit;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.2em 0.3em;
    background: var(--td-bg);
    box-shadow: 0 0 0.5em 0.3em var(--element-shadow);
}

.input-form p select {
    width: 71%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: none;
    border-radius: 0.4em;
    background: var(--table-bg);
    padding: 0.2em 1em;
    gap: 0.2em;
    box-shadow: 0 0 0.5em 0.1em var(--element-shadow);
}

.input-form p select:hover {
    width: 71%;
    background: var(--td-bg);
    box-shadow: 0 0 0.6em 0.2em var(--shadow-next);
    color: var(--text-hover);
    text-shadow: 0 0 0.07em var(--text-hover);
}

.input-form p select:focus {
    width: 68%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: none;
    border-radius: 0.4em;
    background: var(--table-bg);
    padding: 0.2em 1em;
    gap: 0.2em;
    box-shadow: 0 0 0.5em 0.1em var(--element-shadow);
}

.error-message {
    color: var(--error-color);
    text-shadow: 0 0 0.1em var(--error-color);
}

.error-message:hover {
    text-shadow: 0 0 0.3em var(--error-color);
}

button.submit {
    background: var(--submit-bg);
    box-shadow: 0 0 0.6em 0.2em var(--submit-shadow);
}

button.submit:hover {
    background: var(--submit-hover);
    box-shadow: 0 0 0.6em 0.2em var(--submit-hover-shadow);
}

button.reject {
    background: var(--reject-bg);
    box-shadow: 0 0 0.6em 0.2em var(--reject-shadow);
}

button.reject:hover {
    background: var(--reject-hover);
    box-shadow: 0 0 0.6em 0.4em var(--reject-hover-shadow);
}

.table {
    display: table;
    flex: 1;
    border-radius: 1.5em;
    table-layout: auto;
    background: var(--table-bg);
    filter: drop-shadow(0 0 0.9em var(--element-shadow));
}

th {
    background: var(--td-bg);
    padding: 0.5em 1em;
    font-size: smaller;
}

th:first-child {
    border-top-left-radius: 1.5em;
}

th:last-child {
    border-top-right-radius: 1.5em;
    max-width: 10%;
}

td {
    padding: 0.5em 1em;
    background: var(--td-bg);
    word-wrap: break-word;
    font-size: smaller;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 1.5em;
}

tr:last-child td:last-child {
    border-radius: 0 0 1.5em 0;
}

tr td:last-child {
    border-right: none;
}

tr:hover td {
    background: var(--table-bg);
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-horizontal.gap-05em {
    gap: 0.5em;
}

.flex-horizontal.gap-1em {
    gap: 1em;
}

.flex-horizontal.gap-2em {
    gap: 2em;
}

.flex-horizontal.gap-3em {
    gap: 3em;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-vertical.gap-05em {
    gap: 0.5em;
}

.flex-vertical.gap-1em {
    gap: 1em;
}

.flex-vertical.gap-2em {
    gap: 2em;
}

.flex-vertical.gap-3em {
    gap: 3em;
}

.text-size-smaller, .text-size-smaller:hover, .text-size-smaller:focus {
    font-size: smaller;
}

.input-field-in-table {
    background: none;
    padding: 0;
    border: none;
    width: 100%;
}
.input-field-in-table:focus {
    font-size: large;
    background: none;
    padding: 0;
    border: none;
    width: 100%;
}

.input-field-in-table:disabled {
    all: unset;
    background: none;
    padding: 0;
    border: none;
    width: 100%;
}

.text-size-larger, .text-size-larger:hover, .text-size-larger:focus {
    font-size: larger;
}

.inactive-content {
    display: none;
}

.width-180 {
    width: 180% !important;
}

.active-content {
    display: inherit;
}

.padding-top-1em {
    padding-top: 1em;
}

.persons-div {
    background: var(--div-bg);
    border-radius: 1em;
    padding: 1em;
}

.persons-div:hover {
    filter: drop-shadow(0 0 0.5em var(--element-shadow));
}

.person-img-preview {
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 5em;
    background: var(--td-bg);
}

.person-img {
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 8em;
    background: var(--td-bg);
}

.person-img:hover {
    filter: drop-shadow(0 0 0.9em var(--shadow-next));
}

.checkbox-div{
    max-height: 20em;
    overflow-y: auto;
}

.checkbox-div div {
    background: var(--div-bg);
    border-radius: 1em;
    padding: 1em;
}

.checkbox-div div {
    background: var(--div-bg);
    border-radius: 0.4em;
    padding: 0.2em 0.4em;
}

.checkbox-div div.selected {
    background: var(--submit-bg);
    box-shadow: 0 0 0.6em 0.2em var(--submit-shadow);
}

.checkbox-div div label {
    display: flex;
    flex-direction: row;
}

.checkbox-div div label input {
    visibility: hidden;
}

.extra-part {
    background: var(--td-bg);
    border-radius: 2em;
    padding: 0.4em;
    filter: drop-shadow(0 0 0.9em var(--element-shadow));
}

.extra-part .top-splitter-two {
    background: linear-gradient(transparent 51.5%, var(--table-bg) 52%);
}

.inner-part {
    background: var(--table-bg);
    border-radius: 0 0 2em 2em;
    padding: 2em 0;
}

.extra-box {
    z-index: 1000;
    padding: 0.5em;
    align-items: center;
    border-radius: 1em;
    margin: 0;
    background: var(--td-bg);
    filter: drop-shadow(0 0 0.9em var(--element-shadow));
}

.box-with-slider {
    overflow-x: auto;
}

.box-with-slider::-webkit-scrollbar {
    background-color: transparent;
}

/* Скругляем трек */
.box-with-slider::-webkit-scrollbar-track {
    border-radius: 0.6em;
    background-color: transparent;
}

/* Стилизуем бегунок (ползунок) */
.box-with-slider::-webkit-scrollbar-thumb {
    border-radius: 0.6em; /* Скругляем бегунок */
    background-color: var(--td-bg); /* Замените на ваш желаемый цвет */
}

/* Отключаем боковые кнопки */
.box-with-slider::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar {
    background-color: transparent;
}
::-webkit-scrollbar-track {
    border-radius: 0.6em;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 0.6em; /* Скругляем бегунок */
    background-color: var(--td-bg); /* Замените на ваш желаемый цвет */
}
::-webkit-scrollbar-button {
    display: none;
}
.suggestions-suggestions {
    background-color: var(--td-bg) !important;
    border: none !important;
    border-radius: 0.6em !important;
}
.suggestions-suggestion:hover {
    background-color: var(--div-bg) !important;
    border: none !important;
    border-radius: 0.6em !important;
}

::-webkit-file-upload-button{
    justify-content: flex-start;
    align-items: center;
    border-style: none;
    border-radius: 0.4em;
    background: var(--td-bg);
    padding: 0.2em 0.6em;
    box-shadow: 0 0 0.5em 0.1em var(--element-shadow);
    width: fit-content;
    color: var(--text-color);
}

::-webkit-file-upload-button:focus {
    align-items: center;
    text-align: center;
    color: var(--text-hover);
}

::-webkit-file-upload-button:hover {
    background: var(--table-bg);
    box-shadow: 0 0 0.6em 0.2em var(--shadow-next);
    color: var(--text-hover);
    text-shadow: 0 0 0.07em var(--text-hover);
}

.image-wrapper {
    border-radius: 2em;
    filter: drop-shadow(0 0 0.9em var(--element-shadow));
    overflow: hidden;
    width: 100%;
}

.image-wrapper img {
    width: 100%; /* Чтобы изображение занимало всю доступную ширину контейнера */
    height: auto; /* Автоматически рассчитываемая высота, чтобы сохранить пропорции изображения */
}