* {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: Inter;
    color: #B4B4B4;
    text-decoration: none;
}
.body {
    background: #282828;
    display: block;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-bar {
    display: flex;
    position: sticky;
    height: 10%;
    height: 100%;
    margin: auto;
    padding: 0 6em;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    border-radius: 0 0 1.4em 1.4em;
    background: #404040;
    box-shadow: 0 0.2em 0.5em 0.1em rgba(0, 0, 0, 0.25);
}

.nav-part {
    height: 100%;
    padding: 0.4em 1em;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    display: inline-flex;
    flex-wrap: nowrap;
}

.logo {
    align-self: stretch;
    object-fit: contain;
}

.logo-container {
    width: 3.2em;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    display: flex
}

.title {
    color: #BAFFF3;
    font-size: 2em;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 0 0 0.065em #BAFFF3;
}
.title:hover{
    text-shadow: 0 0 0.1em #BAFFF3;
}

.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: none;
    border-radius: 0.4em;
    background: #242424;
    padding: 0.4em 1em;
    gap: 0.2em;
    box-shadow: 0px 0px 0.5em 0.1em rgba(0, 0, 0, 0.35);
}

.icon {
    filter: brightness(0) saturate(100%) invert(79%) sepia(16%) saturate(8%) hue-rotate(316deg) brightness(90%) contrast(87%);
}

.button:hover {
    background: #303030;
    box-shadow: 0px 0px 0.6em 0.2em rgba(48, 48, 48, 0.8);
    color: #d0d0d0;
    text-shadow: 0 0 0.07em #d0d0d0;
}

.logout-button {
    filter: brightness(0) saturate(100%) invert(24%) sepia(29%) saturate(4645%) hue-rotate(345deg) brightness(83%) contrast(84%);
}

.logout-button:hover {
    filter: drop-shadow(0 0 0.8em #FF3838) brightness(0) saturate(100%) invert(46%) sepia(91%) saturate(4760%) hue-rotate(339deg) brightness(102%) contrast(104%);;
}

.expanded {
    visibility: hidden;
    position: absolute;
    padding-top: 1em;
    margin-bottom: auto;
    margin-left: -1em;
    margin-top: 10.8em;

}
.expanded-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #303030;
    padding: 0.8em 1em;
    border-radius: 0.4em;
    gap: 0.4em;
    box-shadow: 0 0.2em 0.5em 0.1em rgba(0, 0, 0, 0.25);
}
.expanded-link:hover{
    color: #dadada;
    text-shadow: 0 0 0.1em #dadada;
}
.button:hover .expanded {
    visibility: visible;
}
.main{
    padding-top: 2em;
    padding-right: 6.8em;
    padding-left: 6.8em;
}
.two-split-section{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    justify-content: space-around;
}
.split-section{
    flex: 1;
    display: flex;
    width: auto;
    height: fit-content;
}
.content-box{
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 2em;
    background: #404040;
    gap: 1em;
}
.content-block{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.top-splitter-two {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0.2;
}
.splitted-part {
    flex: 1;
    padding: 1em;
    text-align: center;
    background: #3a3a3a;
}
.splitted-part:hover{
    background: #464646;
}
.splitted-part.left {
    border-radius: 2em 0em 2em 0em;
}
.splitted-part.active{
    background: #404040;
}
.splitted-part.right {
    border-radius: 0em 2em 0em 2em;
}

.content-box .content{
    padding: 2em;
}

.text1{
    font-size: larger;
    text-shadow: 0 0 0.07em #B4B4B4;
}
.to_center{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 5em;
}
.login-container{
    width: auto;
    height: auto;
    border-radius: 2em;
    padding: 3.5em 3em 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #404040;
    gap: 1em;
}
.input-line{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
}

.input-field{
    border-style: none;
    border-radius: 0.5em;
    padding: 0.2em 0.3em;
    background: #303030;
    box-shadow: 0 0 0.5em 0.15em rgba(0, 0, 0, 0.25);
}
.input-field:hover{
    background: #3d3b3b;
}
.input-field:focus{
    all: unset;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.2em 0.3em;
    background: #3d3b3b;
    box-shadow: 0 0 0.5em 0.3em rgba(0, 0, 0, 0.25);
}
.input-field:required:invalid{
    box-shadow: 0 0 0.5em 0.3em #9D2727;
}
.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus {
    box-shadow: 0 0 0.5em 0.3em #BAFFF3;
}

.error-message{
    color: #FF3838;
    text-shadow: 0 0 0.1em #FF3838;
    padding: 1em;
}
.submit{
    background: #325a39;
    box-shadow: 0px 0px 0.6em 0.2em rgba(50, 90, 57, 0.8);
}
.submit:hover{
    background: #40734b;
    box-shadow: 0px 0px 0.6em 0.2em rgba(64, 155, 75, 0.8);
}

