* {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: Inter, serif;
    color: #B4B4B4;
    text-decoration: none;
}

.body {
    background: #282828;
    display: block;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main {
    padding: 3em 6.8em;
}

.logo {
    align-self: stretch;
    object-fit: contain;
}

.logo-container {
    width: 3.2em;
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    display: flex
}

.title {
    color: #BAFFF3;
    font-size: 2em;
    font-weight: 400;
    word-wrap: break-word;
    text-shadow: 0 0 0.065em #BAFFF3;
}

.title:hover {
    text-shadow: 0 0 0.1em #BAFFF3;
}

.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-style: none;
    border-radius: 0.4em;
    background: #242424;
    padding: 0.4em 1em;
    gap: 0.2em;
    box-shadow: 0 0 0.5em 0.1em rgba(0, 0, 0, 0.35);
}

.icon {
    filter: brightness(0) saturate(100%) invert(79%) sepia(16%) saturate(8%) hue-rotate(316deg) brightness(90%) contrast(87%);
}

.button:hover {
    background: #303030;
    box-shadow: 0 0 0.6em 0.2em rgba(48, 48, 48, 0.8);
    color: #d0d0d0;
    text-shadow: 0 0 0.07em #d0d0d0;
}

.expanded {
    visibility: hidden;
    position: absolute;
    padding-top: 1em;
    margin-bottom: auto;
    margin-left: -1em;
    margin-top: 10.8em;

}

.expanded-block {
    align-items: flex-start;
    background: #303030;
    padding: 0.8em 1em;
    border-radius: 0.4em;
    gap: 0.4em;
    box-shadow: 0 0.2em 0.5em 0.1em rgba(0, 0, 0, 0.25);
}

.expanded-link:hover {
    color: #dadada;
    text-shadow: 0 0 0.1em #dadada;
}

.button:hover .expanded {
    visibility: visible;
}

.two-split-section {
    align-items: flex-start;
    justify-content: space-around;
}

.split-section {
    flex: 1;
    width: auto;
    height: fit-content;
}

.content-box {
    margin: 0;
    border-radius: 2em;
    background: #404040;
}

.content-block {
    width: 100%;
    height: 100%;
}


.top-splitter-two {
    width: 100%;
    flex: 0.2;
}

.splitted-part {
    text-shadow: 0 0 0.07em #B4B4B4;
    flex: 1;
    padding: 1em;
    text-align: center;
    background: #3a3a3a;
}

.splitted-part:hover {
    background: #464646;
}

.splitted-part.left {
    border-radius: 2em 0 2em 0;
}

.splitted-part.active {
    background: #404040;
}

.splitted-part.right {
    border-radius: 0 2em 0 2em;
}

.content-box .content {
    flex: 1;
    padding: 1.5em;
}

.text1 {
    font-size: larger;
    text-shadow: 0 0 0.07em #B4B4B4;
}

.to_center {
    align-content: center;
    justify-content: center;
    padding-top: 5em;
}

.login-container {
    width: auto;
    height: auto;
    border-radius: 2em;
    padding: 3.5em 3em 3em;
    justify-content: flex-start;
    background: #404040;
}

.input-line {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    justify-content: space-between;
}

.input-field {
    border-style: none;
    border-radius: 0.5em;
    padding: 0.2em 0.3em;
    background: #303030;
    box-shadow: 0 0 0.5em 0.15em rgba(0, 0, 0, 0.25);
}

.input-field:hover {
    background: #3d3b3b;
}

.input-field:focus {
    all: unset;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.2em 0.3em;
    background: #3d3b3b;
    box-shadow: 0 0 0.5em 0.3em rgba(0, 0, 0, 0.25);
}

.input-field:required:invalid {
    box-shadow: 0 0 0.5em 0.3em #9D2727;
}

.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus {
    box-shadow: 0 0 0.5em 0.3em #BAFFF3;
}

.error-message {
    color: #FF3838;
    text-shadow: 0 0 0.1em #FF3838;
    padding: 1em;
}

button.submit {
    background: #325a39;
    box-shadow: 0 0 0.6em 0.2em rgba(50, 90, 57, 0.8);
}

button.submit:hover {
    background: #40734b;
    box-shadow: 0 0 0.6em 0.2em rgba(64, 155, 75, 0.8);
}
button.reject {
    background: #9D2727;
    box-shadow: 0 0 0.6em 0.2em rgba(150, 39, 39, 0.8);
}

button.reject:hover{
    background: #D73535CC;
    box-shadow: 0 0 0.6em 0.4em rgba(215, 53, 53, 0.85);
}

.table {
    display: table;
    flex: 1;
    border-radius: 1.5em;
    background: #414141;
}

th {
    background: #3a3a3a;
    padding: 0.5em 1em;
    font-size: smaller;
}

th:first-child {
    border-top-left-radius: 1.5em;
}

th:last-child {
    border-top-right-radius: 1.5em;
}

td {
    padding: 0.5em 1em;
    background: #4b4b4b;
    font-size: smaller;
    width: 1px;
    white-space: nowrap;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 1.5em;
}

tr:last-child td:last-child {
    border-radius: 0 0 1.5em 0;
}

tr td:last-child {
    border-right: none;
}

tr:hover td {
    background: #424242;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-horizontal.gap-1em {
    gap: 1em;
}

.flex-horizontal.gap-2em {
    gap: 2em;
}

.flex-horizontal.gap-3em {
    gap: 3em;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-vertical.gap-1em {
    gap: 1em;
}

.flex-vertical.gap-2em {
    gap: 2em;
}

.flex-vertical.gap-3em {
    gap: 3em;
}