{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/darkcolors.css' %}">
    <title>Login</title>
</head>
<body class="body">
<section class="main">
    <div class="to_center flex-horizontal">
        <div class="login-container flex-vertical gap-1em">
            <h1 class="title">Вход</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-line flex-horizontal gap-3em">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    <div>{{ form.username|add_class:"input-field" }}</div>
                </div>
                <div class="input-line flex-horizontal gap-3em">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    <div>{{ form.password|add_class:"input-field" }}</div>
                </div>
                {% if form.errors %}
                    <p class="error-message">Неверное имя пользователя или пароль. Попробуйте снова.</p>
                {% endif %}
                <button type="submit" class="button submit">Войти</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>