{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
            <h1 class="title">Вход</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="flex-vertical gap-05em">
                    <div class="input-line flex-horizontal gap-3em">
                        <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                        <div>{{ form.username|add_class:"input-field" }}</div>
                    </div>
                    <div class="input-line flex-horizontal gap-3em">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        <div>{{ form.password|add_class:"input-field" }}</div>
                    </div>
                    {% if form.errors %}
                        <p class="error-message">Неверное имя пользователя или пароль. Попробуйте снова.</p>
                    {% endif %}
                    <div class="flex-horizontal gap-1em">
                        <button type="submit" class="button submit">Войти</button>
                        <a href="#">
                            <button type="button" class="button">Регистрация</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}