{% extends 'registration/registration_base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <h1 class="title">Регистрация</h1>
    <form method="POST" class="input-form flex-vertical gap-2em" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="flex-horizontal gap-2em">
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}:</label>
            {{ form.username }}
        </p>
        <p class="flex-horizontal gap-2em">
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}:</label>
            {{ form.last_name }}
            <label for="{{ form.first_name.id_for_label }}"
                   style="margin-left: 1em">{{ form.first_name.label }}:</label>
            {{ form.first_name }}
            <label for="{{ form.patronymic.id_for_label }}">{{ form.patronymic.label }}:</label>
            {{ form.patronymic }}
        </p>
        <p>
            <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}:</label>
            {{ form.phone_number }}
        </p>
        <p>
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
            {{ form.email }}
        </p>
        <p>
            <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}:</label>
            {{ form.password1 }}
        </p>
        <p>
            <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}:</label>
            {{ form.password2 }}
        </p>
        <button type="submit" class="button submit" style="width: fit-content;">Создать</button>
    </form>
{% endblock %}