{% load static %}
{% block content %}
    <button class="button">
        <a href="{% url 'applications_view' %}" class="expanded-link">
            Заявки
        </a>
    </button>
    <button class="button">
        <a href="{% url 'employee_interviews_view' %}" class="expanded-link">
            Собеседования
        </a>
    </button>
    <button class="button">
        <a href="{% url 'job_seeker_list' %}" class="expanded-link">
            Соискатели
        </a>
    </button>
    <button class="button">
        <a href="{% url 'references' %}" class="expanded-link">
            Справочники
        </a>
    </button>
{% endblock content %}