{% load static %}
{% block content %}
    <div class="button">
        Работодатели
        <img src="{% static 'icons/arrow-down.svg' %}" class="icon">
        <div class="expanded">
            <div class="expanded-block flex-vertical">
                <a href="{% url 'applications_view' 'without_archive_by_final_date' %}"
                   class="expanded-link">Просмотр
                    текущих заявок</a>
                <a href="{% url 'applications_view' 'archive_by_final_date' %}" class="expanded-link">Просмотр
                    архивных заявок</a>
                <br>
            </div>
        </div>
    </div>
    <button class="button">
        <a href="{% url 'job_seeker_list' %}" class="expanded-link">
            Соискатели
        </a>
    </button>
    <button class="button">
        <a href="{% url 'references' %}" class="expanded-link">
            Справочники
        </a>
    </button>
{% endblock content %}