{% extends 'base.html' %}
{% block content %}
    <div class="content-block flex-vertical gap-1em">
        <h1 class="title">Программно-технические средства</h1>
        <div class="content-box flex-vertical gap-1em">
            <div class="content flex-vertical gap-2em" style="padding: 4em 8em;">
                <form method="POST" class="input-form flex-vertical gap-2em">
                    {% csrf_token %}
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.software_and_hardware_tools.id_for_label }}">{{ form.software_and_hardware_tools.label }}: </label>
                    </p>
                    <div class="flex-horizontal gap-1em" style="padding: 1em 0">
                        <label>Поиск:</label>
                        <input type="text"
                               oninput="filterCheckboxes(this, 'filter-results-container-{{ form.software_and_hardware_tools.id_for_label }}')"
                               class="input-field">
                    </div>
                    <div class="flex-vertical gap-05em checkbox-div"
                         id="filter-results-container-{{ form.software_and_hardware_tools.id_for_label }}">
                        {% for checkbox in form.software_and_hardware_tools %}
                            <div {% if checkbox.checked %}class="selected"{% endif %}>
                                {{ checkbox }}
                                {% if checkbox.name in form.initial %}
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            document.getElementById("{{ checkbox.id_for_label }}").checked = true;
                                        });
                                    </script>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div style="display: none">{{ form.new_software_and_hardware_tools }}</div>
                    <div id="new-skills-container" class="flex-vertical gap gap-05em"></div>
                    <button type="button" class="button" onclick="addSkillInput()">Добавить программно-техническое средство</button>
                    <button type="submit" class="button submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        function addSkillInput() {
            var container = document.getElementById("new-skills-container");

            var skillDiv = document.createElement("div");
            skillDiv.classList.add("flex-horizontal", "gap-2em");

            var input = document.createElement("input");
            input.type = "text";
            input.classList.add("input-field");
            input.name = "new_skills[]";
            input.placeholder = "Введите новый навык";

            var deleteButton = document.createElement("button");
            deleteButton.textContent = "Удалить";
            deleteButton.classList.add("button", "reject");
            deleteButton.type = "button";

            deleteButton.addEventListener("click", function () {
                skillDiv.remove();
            });

            skillDiv.appendChild(input);
            skillDiv.appendChild(deleteButton);

            container.appendChild(skillDiv);
        }

        var form = document.querySelector('.input-form');

        // Добавляем обработчик события для отправки формы
        form.addEventListener('submit', function (event) {
            // Получаем контейнер для новых навыков
            var container = document.getElementById("new-skills-container");

            // Получаем все созданные поля для новых навыков
            var newSkillInputs = container.querySelectorAll('input[name="new_skills[]"]');

            // Создаем массив для хранения значений новых навыков
            var newSkills = [];

            // Проходимся по каждому полю и добавляем его значение в массив
            newSkillInputs.forEach(function (input) {
                newSkills.push(input.value);
            });

            // Преобразуем массив в строку, разделяя значения запятой
            var newSkillsString = newSkills.join(',');

            // Находим поле для новых навыков и присваиваем ему собранную строку значений
            document.querySelector('input[name="new_software_and_hardware_tools"]').value = newSkillsString;
        });
    </script>
{% endblock content %}