{% extends 'base.html' %}
{% block content %}
    <div class="content-block flex-vertical gap-1em">
        <h1 class="title">Специализации</h1>
        <div class="content-box flex-vertical gap-1em">
            <div class="content flex-vertical gap-2em" style="padding: 4em 8em;">
                <form method="POST" class="input-form flex-vertical gap-2em">
                    {% csrf_token %}
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.specializations.id_for_label }}">{{ form.specializations.label }}: </label>
                    </p>
                    <div class="flex-horizontal gap-1em" style="padding: 1em 0">
                        <label>Поиск:</label>
                        <input type="text"
                               oninput="filterCheckboxes(this, 'filter-results-container-{{ form.specializations.id_for_label }}')"
                               class="input-field">
                    </div>
                    <div class="flex-vertical gap-05em checkbox-div" id="filter-results-container-{{ form.specializations.id_for_label }}">
                        {% for checkbox in form.specializations %}
                            <div {% if checkbox.checked %}class="selected"{% endif %}>
                                {{ checkbox }}
                                {% if checkbox.name in form.initial %}
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            document.getElementById("{{ checkbox.id_for_label }}").checked = true;
                                        });
                                    </script>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="button submit">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}