{% load static %}
{% block content %}
    <div class="content-block flex-vertical gap-1em">
        <h1 class="title">Заявки</h1>
        <div class="content-box flex-vertical gap-1em">
            <div class="top-splitter-two flex-horizontal">
                <div class="splitted-part left active">Новые</div>
                <div class="splitted-part right">Горящие</div>
            </div>
            <div class="content flex-vertical gap-1em">
                <table class="table">
                    <tr>
                        <th>Время создания</th>
                        <th>Заказчик</th>
                        <th>Должность</th>
                        <th>Подробнее</th>
                    </tr>
                    <tr>
                        <td>11.12.2023 11:17</td>
                        <td>with two columns</td>
                        <td>with two columns</td>
                        <td>--></td>
                    </tr>
                    <tr>
                        <td>11.12.2023 11:17</td>
                        <td>with two columns</td>
                        <td>with two columns</td>
                        <td>--></td>
                    </tr>
                    <tr>
                        <td>11.12.2023 11:17</td>
                        <td>with two columns</td>
                        <td>with two columns</td>
                        <td>--></td>
                    </tr>
                    <tr>
                        <td>11.12.2023 11:17</td>
                        <td>with two columns</td>
                        <td>with two columns</td>
                        <td>--></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}