{% load static %}
{% block content %}
    <div class="content-block flex-vertical gap-1em">
        <h1 class="title">Резюме</h1>
        <div class="content-box flex-vertical gap-1em">
            <div class="top-splitter-two flex-horizontal">
                <div class="splitted-part left" onclick="toggleSplitter(this)">Новые</div>
                <div class="splitted-part right active" onclick="toggleSplitter(this)">Горящие</div>
            </div>
            <div class="content flex-vertical gap-1em active-content">
                <div class="flex-horizontal gap-1em">
                    <button class="button">Создать новое резюме</button>
                    <button class="button">Просмотр всех резюме</button>
                </div>
                <table class="table">
                    <tr>
                        <th>Время создания</th>
                        <th>Соискатель</th>
                        <th>Должность</th>
                    </tr>
                    <tr>
                        <td>11.12.2023 11:17</td>
                        <td>with two columns</td>
                        <td>with two columns</td>
                    </tr>
                    <tr>
                        <td>11.12.2023 11:17</td>
                        <td>with two columns</td>
                        <td>with two columns</td>
                    </tr>
                    <tr>
                        <td>11.12.2023 11:17</td>
                        <td>with two columns</td>
                        <td>with two columns</td>
                    </tr>
                    <tr>
                        <td>11.12.2023 11:17</td>
                        <td>with two columns</td>
                        <td>with two columns</td>
                    </tr>
                </table>
            </div>
            <div class="content flex-vertical gap-1em inactive-content">

            </div>
        </div>
    </div>
{% endblock content %}