{% extends 'base.html' %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <h1 class="title">Собеседования</h1>
            {% for interview in interviews %}
                <div class="content-box flex-vertical gap-1em">
                    <div class="content flex-vertical gap-1em"
                         style="padding: 2em 4em">
                        <div class="flex-horizontal" style="justify-content: space-between;">
                            <div class="flex-vertical gap-1em">
                                <h1 class="title" style="font-size: xx-large">Собеседование на должность
                                    {{ interview.application_response.application.position }}</h1>
                                <p>В организацию <span class="title"
                                                       style="font-size: unset"><a
                                        href="{% url 'organization_view' interview.application_response.application.employer.organization.id %}">{{ interview.application_response.application.employer.organization.organizational_legal_form }}
                                "{{ interview.application_response.application.employer.organization.name }}"</a></span>
                                </p>
                                <p class="text1">Назначенное на <span class="title"
                                                                      style="font-size: unset">{{ interview.date_of_interview }}</span>
                                </p>
                                {% if interview.address %}
                                    <p class="text1">
                                        <a href="{{ interview.address.map_link }}"
                                           target="_blank">{{ interview.address.locality }},
                                            улица {{ interview.address.street }},
                                            строение {{ interview.address.number_of_building }}
                                            {% if interview.address.apartment_number %}, помещение
                                                {{ interview.address.apartment_number }}{% endif %}
                                        </a>
                                    </p>
                                {% elif interview.link %}
                                    <p class="text1">
                                        <a href="{{ interview.link }}" target="_blank">
                                            Ссылка на онлайн собеседование: {{ interview.link }}
                                        </a>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="flex-vertical gap-1em" style="align-items: flex-end">
                                <a href="{% url 'job_seeker_application_view' interview.application_response.application.id %}">
                                    <button class="button">К заявке</button>
                                </a>

                                {% if interview.status == 'pending' %}
                                    <a href="{% url 'accept_invite_on_interview' interview.id %}">
                                        <button class="button submit">Принять</button>
                                    </a>
                                    <a href="{% url 'reject_invite_on_interview' interview.id %}">
                                        <button class="button reject">Отклонить</button>
                                    </a>
                                {% else %}
                                    <br>
                                    <br>
                                    <br>
                                {% endif %}
                                <p class="text1">Статус: {{ interview.status_in_rus }}
                                </p>
                            </div>
                        </div>
                        {% if interview.description %}
                            <div class="flex-vertical">
                                <p>Отзыв по собеседованию</p>
                                <p>{{ interview.description }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            {% if not archive %}
                <p class="text1">Это все собеседования</p>
                <p class="error-message text1">Вы можете просмотреть уже прошедшие собеседования в архиве</p>
                <a href="{% url 'job_seeker_interviews_view' 1 %}">
                    <button class="button">Архивные собеседования</button>
                </a>
            {% else %}
                <a href="{% url 'job_seeker_interviews_view' %}">
                    <button class="button">Вернуться</button>
                </a>
            {% endif %}
        </div>
    </section>
{% endblock %}