{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <select name="reference-select" class="button" onchange="window.location.href = (this.value)">
                {% for reference, value in references_dict.items %}
                    <option value="{% url 'references' reference %}"
                            {% if value.1 == display_name %}selected{% endif %}>
                        {{ value.1 }}
                    </option>
                {% endfor %}
            </select>
            <div class="content-box flex-vertical gap-1em">
                <div class="content flex-vertical gap-1em">
                    <h1 class="title">{{ display_name }}</h1>
                    <table class="table">
                        <tr>
                            <th>№</th>
                            {% for field in fields_names %}
                                <th>{{ field.verbose_name }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                        {% for item in model %}
                            <tr>
                                <form method="POST" action="{% url 'references' reference %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="item_id" value="{{ item.id }}">
                                    <td>{{ forloop.counter }}</td>
                                    {% for field in fields_names %}
                                        {% with field_value=item|get_value:field.name %}
                                            <td><input type="text"
                                                       id="{{ field.name }}_{{ item.id }}"
                                                       name="{{ field.name }}"
                                                       value="{{ field_value }}"
                                                       class="input-field-in-table"
                                                       onchange="document.getElementById('Button_{{ item.id }}').style.visibility = 'visible';"
                                                       maxlength="{{ field.max_length }}"
                                            >
                                            </td>
                                        {% endwith %}
                                    {% endfor %}
                                    <td class="flex-horizontal gap-1em">
                                        <button id="Button_{{ item.id }}_delete" type="submit" name="delete_item"
                                                class="button reject text-size-smaller">
                                            <img src="{% static 'icons/delete.svg' %}" class="icon">
                                        </button>
                                        <button id="Button_{{ item.id }}" type="submit"
                                                class="button submit text-size-smaller"
                                                style="visibility:hidden">
                                            <img src="{% static 'icons/edit.svg' %}" class="icon">
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="row-1em"></td>
                            <form method="POST" action="{% url 'references' reference %}">
                                {% csrf_token %}
                                {% for field in fields_names %}
                                    <td><input id="{{ field.name }}_new" type="text" class="input-field-in-table"
                                               name="{{ field.name }}"
                                               maxlength="{{ field.max_length }}"
                                               onchange="document.getElementById('Button_new').style.visibility = 'visible';"
                                               {% if forloop.first %}autofocus{% endif %}>
                                    </td>
                                {% endfor %}
                                <td>
                                    <button id="Button_new" type="submit" class="button submit text-size-smaller"
                                            style="visibility:hidden">
                                        <img src="{% static 'icons/save.svg' %}" class="icon">
                                    </button>
                                </td>
                            </form>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}