{% extends 'base.html' %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <h1 class="title">{{ organization.organizational_legal_form.short_name }} "{{ organization.name }}"</h1>
            <div class="content-box flex-vertical gap-1em">
                <div class="content flex-vertical gap-2em" style="padding: 2em 4em;">
                    <div class="flex-horizontal gap-1em">
                        <div>
                            {% if organization.organization_logo %}
                                <img class="person-img"
                                     src="/media/{{ MEDIA_URL }}{{ organization.organization_logo }}">
                            {% else %}
                                <div class="person-img"></div>
                            {% endif %}
                        </div>
                        <div class="flex-vertical gap-1em">
                            <p>{{ organization.about }}</p>
                            <p>{{ organization.address.locality }}, улица {{ organization.address.street }},
                                строение {{ organization.address.number_of_building }}
                                {% if organization.address.apartment_number %}, помещение
                                    {{ organization.address.apartment_number }}{% endif %}</p>
                        </div>
                    </div>
                    {% if is_member %}
                        <div class="flex-vertical gap-05em">
                            <h1 class="title">
                                Дополнительная информация
                            </h1>
                            <p class="text1">Расчётный счёт: {{ organization.payment_account }}</p>
                            <p class="text1">ИНН: {{ organization.inn }}</p>
                            <p class="text1">Код ОКВЭД: {{ organization.okved_kode }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if is_job_seeker or is_member %}
                {% for application in applications %}
                    <div class="content-box flex-vertical gap-1em">
                        <div class="content flex-horizontal gap-1em"
                             style="justify-content: space-between; padding: 2em 4em">
                            <div class="flex-vertical gap-1em">
                                <h1 class="title" style="font-size: xx-large">Вакансия на должность
                                    {{ application.position }}</h1>
                                <p>В организацию <span class="title"
                                                       style="font-size: unset"><a
                                        href="{% url 'organization_view' application.employer.organization.id %}">{{ application.employer.organization.organizational_legal_form }}
                                "{{ application.employer.organization.name }}"</a></span></p>
                                <p>С зарплатой в <span class="title"
                                                       style="font-size: unset">{{ application.salary }}</span>
                                    рублей
                                </p>

                            </div>
                            <div class="flex-vertical gap-1em"
                                 style="justify-content: flex-start; height: 100%">
                                {% if is_member %}
                                    <a href="#">
                                        <button class="button">Подробнее</button>
                                    </a>
                                {% elif application.status != 'new' and application.status != 'completed' and application.status != 'canceled' %}
                                    <a href="{% url 'job_seeker_application_view' application.id %}">
                                        <button class="button">Подробнее</button>
                                    </a>
                                {% endif %}
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}