{% load static %}
{% block content %}
    <footer class="footer flex-horizontal gap-1em">
        <div class="nav-part flex-horizontal gap-1em">
            <a href="{% url 'home' %}">
                <div class="flex-horizontal gap-05em">
                    <div class="logo-container" style="width: 2em">
                        <img src="{% static 'images/logo.webp' %}" class="logo"/>
                    </div>
                    <div class="title" style="padding-right: 3em; font-size: xx-large">Гефест</div>
                </div>
            </a>

        </div>
        <div class="nav-part flex-horizontal gap-2em">
            <div>
                {% include 'components/theme_swither.html' %}
            </div>

        </div>
    </footer>
{% endblock content %}