{% load static %}
{% block content %}
    <link rel="manifest" href="{% static 'json/manifest.json' %}">
    <meta name="yandex-tableau-widget" content="{% static 'images/logo.png' %}, color=#b6cefe"/>
    <meta name="theme-color" content="#0c294e"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link id="theme-link" rel="stylesheet" href="{% static 'css/lightcolors.css' %}">
    <link rel="icon" href="{% static 'images/logo.webp' %}" sizes="192x192" type="image/webp">
    <link rel="icon" href="{% static 'images/logo.webp' %}" sizes="512x512" type="image/webp">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock content %}