{% load static %}
{% block content %}
    <script src="{% static 'scripts/phone_mask.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/checkbox_sorter.js' %}" type="text/javascript"></script>
    <script>
        let timeout;

        $('input[type="tel"]').mask('+7 (999) 999-99-99');

        $.fn.setCursorPosition = function (pos) {
            if ($(this).get(0).setSelectionRange) {
                $(this).get(0).setSelectionRange(pos, pos);
            } else if ($(this).get(0).createTextRange) {
                var range = $(this).get(0).createTextRange();
                range.collapse(true);
                range.moveEnd('character', pos);
                range.moveStart('character', pos);
                range.select();
            }
        };

        $('input[type="tel"]').click(function () {
            $(this).setCursorPosition(4);  // set position number
        });

        function toggleSplitter(element) {
            const parent = element.parentElement.parentElement;
            const leftPart = parent.querySelector('.left');
            const rightPart = parent.querySelector('.right');

            const lowerDivActive = parent.querySelector('.active-content');
            const lowerDivInactive = parent.querySelector('.inactive-content');

            if (leftPart.classList.contains('active')) {
                rightPart.classList.add('active');
                leftPart.classList.remove('active');
            } else {
                leftPart.classList.add('active');
                rightPart.classList.remove('active');

            }
            lowerDivActive.classList.remove('active-content');
            lowerDivActive.classList.add('inactive-content');
            lowerDivInactive.classList.remove('inactive-content');
            lowerDivInactive.classList.add('active-content');
        }

        function filterResults(input) {
            clearTimeout(timeout);

            var inputValue = input.value.toLowerCase();

            var container = input.parentNode.parentNode;
            var delay = 500;

            timeout = setTimeout(function () {
                var results = container.querySelectorAll('[id^="search_results"]');

                var resultsFound = false;

                results.forEach(function (result) {
                    var textContent = Array.from(result.querySelectorAll('p')).map(function (p) {
                        return p.textContent.toLowerCase();
                    }).join(' ');

                    if (textContent.includes(inputValue)) {
                        result.style.display = 'block';
                        resultsFound = true;
                    } else {
                        result.style.display = 'none';
                    }
                });

                var noResultsMessage = container.querySelector('[id="noResultsMessage"]');
                noResultsMessage.style.display = resultsFound ? 'none' : 'block';
            }, delay);
        }

        $(document).ready(function () {
            // Проверяем, сохранена ли тема в куки
            var theme = getCookie("theme");
            if (theme) {
                $('#theme-link').attr('href', theme);
            }

            // Обработчик события нажатия на кнопку
            $('#theme-toggle').click(function () {
                var currentTheme = $('#theme-link').attr('href');
                var newTheme = currentTheme.includes('darkcolors.css') ? '{% static 'css/lightcolors.css' %}' : '{% static 'css/darkcolors.css' %}';

                // Сохраняем выбранную тему в куки
                document.cookie = "theme=" + newTheme + ";path=/";

                // Применяем новую тему
                $('#theme-link').attr('href', newTheme);
            });

            // Функция для получения значения куки по имени
            function getCookie(name) {
                var value = "; " + document.cookie;
                var parts = value.split("; " + name + "=");
                if (parts.length === 2) return parts.pop().split(";").shift();
            }
        });
    </script>
{% endblock content %}