{% load static %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
    <script src="{% static 'scripts/phone_mask.js' %}" type="text/javascript"></script>
    <script src="{% static 'scripts/checkbox_sorter.js' %}" type="text/javascript"></script>
    <script>
        let timeout;

        $('input[type="tel"]').mask('+7 (999) 999-99-99');

        $.fn.setCursorPosition = function (pos) {
            if ($(this).get(0).setSelectionRange) {
                $(this).get(0).setSelectionRange(pos, pos);
            } else if ($(this).get(0).createTextRange) {
                let range = $(this).get(0).createTextRange();
                range.collapse(true);
                range.moveEnd('character', pos);
                range.moveStart('character', pos);
                range.select();
            }
        };

        $('input[type="tel"]').click(function () {
            $(this).setCursorPosition(4);  // set position number
        });

        function toggleSplitter(element) {
            const parent = element.parentElement.parentElement;
            const leftPart = parent.querySelector('.left');
            const rightPart = parent.querySelector('.right');

            const lowerDivActive = parent.querySelector('.active-content');
            const lowerDivInactive = parent.querySelector('.inactive-content');

            if (leftPart.classList.contains('active')) {
                rightPart.classList.add('active');
                leftPart.classList.remove('active');
            } else {
                leftPart.classList.add('active');
                rightPart.classList.remove('active');

            }
            lowerDivActive.classList.remove('active-content');
            lowerDivActive.classList.add('inactive-content');
            lowerDivInactive.classList.remove('inactive-content');
            lowerDivInactive.classList.add('active-content');
        }

        function filterCheckboxes(input, containerId) {
            clearTimeout(timeout);
            let filter = input.value.toUpperCase();
            let checkboxesContainer = document.getElementById(containerId);
            let checkboxes = checkboxesContainer.getElementsByTagName("div");
            let delay = 500;
            timeout = setTimeout(function () {
                for (let i = 0; i < checkboxes.length; i++) {
                    let label = checkboxes[i].getElementsByTagName("label")[0];
                    if (label) {
                        let textValue = label.textContent || label.innerText;
                        if (textValue.toUpperCase().indexOf(filter) > -1) {
                            checkboxes[i].style.display = "";
                        } else {
                            checkboxes[i].style.display = "none";
                        }
                    }
                }
            }, delay);
        }

        function filterResults(input) {
            clearTimeout(timeout);

            let inputValue = input.value.toLowerCase();

            let container = input.parentNode.parentNode;
            let delay = 500;

            timeout = setTimeout(function () {
                let results = container.querySelectorAll('[id^="search_results"]');

                let resultsFound = false;

                results.forEach(function (result) {
                    let textContent = Array.from(result.querySelectorAll('p')).map(function (p) {
                        return p.textContent.toLowerCase();
                    }).join(' ');

                    if (textContent.includes(inputValue)) {
                        result.style.display = 'block';
                        resultsFound = true;
                    } else {
                        result.style.display = 'none';
                    }
                });

                let noResultsMessage = container.querySelector('[id="noResultsMessage"]');
                noResultsMessage.style.display = resultsFound ? 'none' : 'block';
            }, delay);
        }

        $(document).ready(function () {
            let theme = getCookie("theme");
            if (theme) {
                applyTheme(theme);
            } else {
                let defaultTheme = '{% static 'css/lightcolors.css' %}';
                applyTheme(defaultTheme);
                document.cookie = "theme=" + defaultTheme + ";path=/";
            }

            $('#theme-toggle').click(function () {
                let currentTheme = $('#theme-link').attr('href');
                let newTheme = currentTheme.includes('darkcolors.css') ? '{% static 'css/lightcolors.css' %}' : '{% static 'css/darkcolors.css' %}';
                if (Math.random() < 1 / 10) {
                    newTheme = '{% static 'css/jokecolors.css' %}';
                }
                applyTheme(newTheme);
                document.cookie = "theme=" + newTheme + ";path=/";
            });

            function applyTheme(theme) {
                $('#theme-link').attr('href', theme);
            }

            function getCookie(name) {
                let value = "; " + document.cookie;
                let parts = value.split("; " + name + "=");
                if (parts.length === 2) return parts.pop().split(";").shift();
            }
        });

        function exportToExcel(name) {
            let table = document.getElementById('export');

            // Клонируем таблицу для исключения столбцов с id=ignore-export
            let clonedTable = table.cloneNode(true);
            let columnsToRemove = clonedTable.querySelectorAll("#ignore-export");
            columnsToRemove.forEach(function (column) {
                column.parentNode.removeChild(column);
            });

            // Создаем новый Excel-документ из клонированной таблицы
            let wb = XLSX.utils.table_to_book(clonedTable);

            // Сохраняем Excel-документ в файл
            let wbout = XLSX.write(wb, {bookType: 'xlsx', bookSST: true, type: 'binary'});

            function s2ab(s) {
                let buf = new ArrayBuffer(s.length);
                let view = new Uint8Array(buf);
                for (let i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
            }

            let now = new Date();
            let timestamp = now.toISOString().slice(0, 19).replace(/[-T]/g, '').replace(/:/g, '');

            // Задаем имя файла как время генерации отчета + название
            let filename = name + timestamp + '.xlsx';
            saveAs(new Blob([s2ab(wbout)], {type: "application/octet-stream"}), filename);
        }

        document.addEventListener('DOMContentLoaded', function () {
            const textareas = document.querySelectorAll('textarea');

            function getInitialRows(textarea) {
                const lineHeight = parseFloat(getComputedStyle(textarea).lineHeight);
                const paddingHeight = parseFloat(getComputedStyle(textarea).paddingTop) + parseFloat(getComputedStyle(textarea).paddingBottom);
                const borderTopWidth = parseFloat(getComputedStyle(textarea).borderTopWidth);
                const borderBottomWidth = parseFloat(getComputedStyle(textarea).borderBottomWidth);
                const totalHeight = textarea.clientHeight - borderTopWidth - borderBottomWidth;
                const contentHeight = totalHeight - paddingHeight;

                return Math.floor(contentHeight / lineHeight);
            }

            // Для каждого textarea добавляем слушатель события input
            textareas.forEach(textarea => {
                textarea.setAttribute('rows', 'auto');
                textarea.style.height = ``
                textarea.style.height = `${textarea.scrollHeight}px`
                textarea.style.overflowY = 'auto';
                textarea.style.resize = 'none';
                textarea.addEventListener('input', () => {
                    // обнуляем высоту, чтобы поле уменьшалось, если содержимое уменьшается
                    textarea.style.height = ``
                    textarea.style.height = `${textarea.scrollHeight}px`
                })
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            let requiredInputs = document.querySelectorAll('input[required]');

            requiredInputs.forEach(function (input) {
                input.addEventListener('blur', function () {
                    if (!input.value) {
                        input.classList.add('invalid'); // Добавляем класс для стилизации
                    } else {
                        input.classList.remove('invalid'); // Удаляем класс
                    }
                });
            });
        });
    </script>

{% endblock content %}