{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <form method="POST" class="input-form flex-vertical gap-2em">
        {% csrf_token %}
        <p class="flex-horizontal gap-2em">
            <label for="{{ form.software_and_hardware_tools.id_for_label }}">{{ form.software_and_hardware_tools.label }}: </label>
        </p>
        <div class="flex-vertical gap-05em checkbox-div">
        {% for checkbox in form.software_and_hardware_tools %}
            <div {% if checkbox.checked %}class="selected"{% endif %}>
                {{ checkbox }}
                {% if checkbox.name in form.initial %}
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            document.getElementById("{{ checkbox.id_for_label }}").checked = true;
                        });
                    </script>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <button type="submit" class="button submit">Сохранить</button>
    </form>
{% endblock content %}