{% extends 'base.html' %}
{% load filters %}
{% load static %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <select name="reference-select" class="button" onchange="window.location.href = (this.value)">
                {% for reference, value in references_dict.items %}
                    <option value="{% url 'references' reference %}"
                            {% if value.1 == display_name %}selected{% endif %}>
                        {{ value.1 }}
                    </option>
                {% endfor %}
            </select>
            <div class="content-box flex-vertical gap-1em">
                <div class="content flex-vertical gap-1em">
                    <h1 class="title">{{ display_name }}</h1>
                    <table class="table">
                        <tr>
                            <th>№</th>
                            {% for field in fields_names %}
                                <th>{{ field.verbose_name }}</th>
                            {% endfor %}
                            <th></th>
                        </tr>
                        {% for item in model %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                {% for field in fields_names %}
                                    {% with field_value=item|get_value:field.name %}
                                        <td><input type="text"
                                                   id = "{{ field.name }}_{{ item.id }}"
                                                   value="{{ field_value }}"
                                                   class="input-field-in-table"
                                                   onchange="document.getElementById('Button_{{ item.id }}').style.visibility = 'visible';"
                                                   maxlength="{{ field.max_length }}"
                                        >
                                        </td>
                                    {% endwith %}
                                {% endfor %}
                                <td>
                                    <button id = "Button_{{ item.id }}" class="button submit text-size-smaller" style="visibility:hidden">
                                        Сохранить
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td class="row-1em">new</td>
                            {% for field in fields_names %}
                                <td><input id="{{ field.name }}_new" type="text" class="input-field-in-table" maxlength="{{ field.max_length }}"
                                onchange="document.getElementById('Button_new').style.visibility = 'visible';">
                                </td>
                            {% endfor %}
                            <td>
                                <button id ="Button_new" class="button submit text-size-smaller" style="visibility:hidden">+</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}