{% extends 'base.html' %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <h1 class="title">Профиль</h1>
            <div class="content-box flex-vertical gap-1em">
                <div class="content flex-vertical gap-2em" style="padding: 2em 4em;">
                    <div class="flex-horizontal gap-1em">
                        <div class="photo-update" onmouseover="showButton()" onmouseout="hideButton()">
                            {% if user.profile_photo %}
                                <img id="profile-photo" class="person-img"
                                     src="/media/{{ MEDIA_URL }}{{ user.profile_photo }}">
                            {% else %}
                                <div id="profile-photo" class="person-img"></div>
                            {% endif %}
                            <div class="button-container extra-box">
                                <form id="photoForm" method="post" enctype="multipart/form-data"
                                      class="flex-vertical gap-1em" style="align-items: center;">
                                    <p class="text1">Сменить фото профиля</p>
                                    {% csrf_token %}
                                    {{ form.profile_photo }}
                                    <button type="submit" style="display: none">Сохранить</button>
                                </form>
                            </div>
                        </div>
                        <div class="flex-vertical gap-05em text-size-larger">
                            <h1 class="title">
                                {{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}
                            </h1>
                            {% if user_type == 'job_seeker' %}
                                <p class="text1">Дата рождения: {% if not data.birthdate %}неуказана{% else %}
                                    {{ data.birthdate }}{% endif %}</p>
                                <p class="text1">Место проживания: {% if not data.address %}неуказан{% else %}
                                    {{ data.address.locality }}{% endif %}</p>
                            {% elif user_type == 'employer' %}
                                <a href="{% url 'organization_view' data.organization.id %}">
                                    <p class="text1">Организация: {% if not data.organization %}неуказана{% else %}
                                        <span class="title" style="font-size: unset">{{ data.organization.organizational_legal_form.short_name }} "{{ data.organization.name }}"</span>{% endif %}
                                    </p>
                                </a>
                                <p class="text1">Должность: {% if not data.position %}неуказана{% else %}
                                    {{ data.position }}{% endif %}</p>
                            {% else %}
                                <br>
                                <br>
                            {% endif %}
                        </div>
                        <div class="flex-vertical gap-1em text-size-larger" style="flex: 1; align-items: end">
                            <a href="{% url 'profile_update' %}">
                                <button class="button">Изменить профиль</button>
                            </a>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    {% if user_type == 'job_seeker' %}
                        {% if data.about != 'None' and data.about %}
                            <div class="flex-vertical gap-1em">
                                <h1 class="title">О себе</h1>
                                <p class="text1">{{ data.about }}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="flex-vertical gap-1em">
                        <h1 class="title">Контактная информация</h1>
                        <div class="flex-vertical gap-05em">
                            <p class="text1">Номер телефона: {{ user.phone_number }}</p>
                            <p class="text1">Почта: {{ user.email }}</p>
                        </div>
                    </div>
                </div>
                {% if user_type == 'job_seeker' %}
                    {% include 'job_seekers_templates/profile/job_seeker_profile.html' %}
                {% elif user_type == 'employer' %}
                    {% include 'employers_templates/profile/employer_profile.html' %}
                {% endif %}
            </div>
        </div>
    </section>
    <style>
        .photo-update {
            position: relative;
        }

        .button-container {
            position: absolute;
            bottom: -2em;
            left: 50%;
            transform: translateX(-50%);
            display: none;
        }

        .photo-update:hover .button-container {
            display: block;
        }
    </style>
    <script>
        function showButton() {
            document.getElementById('change-photo-button').style.display = 'block';
        }

        function hideButton() {
            document.getElementById('change-photo-button').style.display = 'none';
        }

        // Получаем поле выбора изображения
        let photoInput = document.getElementById('id_profile_photo');

        // Добавляем обработчик события изменения
        photoInput.addEventListener('change', function () {
            // Получаем форму
            let form = document.getElementById('photoForm');
            // Отправляем форму
            form.submit();
        });
    </script>
{% endblock %}