{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="two-split-section">
        <div class="split-section">
            <div class="content-block">
                <h1 class="title">Заявки</h1>
                <div class="content-box">
                    <div class="top-splitter-two">
                        <div class="splitted-part left active">Новые</div>
                        <div class="splitted-part right">Горящие</div>
                    </div>
                    <div class="content">
                        Кря
                    </div>
                </div>
            </div>

        </div>
        <div class="split-section">
            <div class="content-block">
                <h1 class="title">Заявки</h1>
                <div class="content-box">
                    <div class="top-splitter-two">
                        <div class="splitted-part left">Новые</div>
                        <div class="splitted-part right active">Горящие</div>
                    </div>
                    <div class="content"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}