{% extends 'base.html' %}
{% block content %}
    <section class="split-section flex-vertical gap-2em">
        <div class="content-block flex-vertical gap-1em">
            <h1 class="title">Создание заявки на подбор</h1>
            <div class="content-box flex-vertical gap-1em" style="padding: 4em 8em;">
                <form method="POST" class="input-form flex-vertical gap-2em">
                    {% csrf_token %}
                    <h1 class="title text-size-larger">Основная информация</h1>
                    <h1>
                        Заказчик: {{ employer.last_name }} {{ employer.first_name }} {{ employer.patronymic }}, {{ employer.position|lower }}
                        организации {{ employer.organization.organizational_legal_form }}
                        "{{ employer.organization.name }}"</h1>
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.position.id_for_label }}">{{ form.position.label }}: </label>
                        {{ form.position }}
                    </p>
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.work_schedule.id_for_label }}">{{ form.work_schedule.label }}: </label>
                        {{ form.work_schedule }}
                    </p>
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.salary.id_for_label }}">{{ form.salary.label }}: </label>
                        {{ form.salary }}
                    </p>
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.desired_date.id_for_label }}">{{ form.desired_date.label }}: </label>
                        {{ form.desired_date }}
                    </p>
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.final_date.id_for_label }}">{{ form.final_date.label }}: </label>
                        {{ form.final_date }}
                    </p>
                    <h1 class="title text-size-larger">Требования к специалисту</h1>
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.specialization.id_for_label }}">{{ form.specialization.label }}: </label>
                        {{ form.specialization }}
                        <label for="{{ form.experience.id_for_label }}">{{ form.experience.label }}: </label>
                        {{ form.experience }}
                    </p>
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.education_level.id_for_label }}">{{ form.education_level.label }}: </label>
                        {{ form.education_level }}
                    </p>
                    <h1 class="title text-size-larger">Требуемые навыки</h1>
                    <p class="flex-horizontal gap-2em">
                        <label for="{{ form.skills.id_for_label }}">{{ form.skills.label }}: </label>
                    </p>
                    <div class="flex-horizontal gap-1em" style="padding: 1em 0">
                        <label>Поиск:</label>
                        <input type="text"
                               oninput="filterCheckboxes(this, 'filter-results-container-1')"
                               class="input-field">
                    </div>
                    {{ form.skills|add_class:"flex-vertical gap-05em checkbox-div"|attr:"id:filter-results-container-1" }}

                    <p class="flex-horizontal gap-2em" style="padding-top: 2em">
                        <label for="{{ form.software_and_hardware_tools.id_for_label }}">{{ form.software_and_hardware_tools.label }}: </label>
                    </p>
                    <div class="flex-horizontal gap-1em" style="padding: 1em 0">
                        <label>Поиск:</label>
                        <input type="text"
                               oninput="filterCheckboxes(this, 'filter-results-container-2')"
                               class="input-field">
                    </div>
                    {{ form.software_and_hardware_tools|add_class:"flex-vertical gap-05em checkbox-div"|attr:"id:filter-results-container-2" }}
                    <button type="submit" class="button submit">Создать заявку</button>
                </form>
            </div>
        </div>
    </section>
    <script>
    </script>
{% endblock %}